<?php

// config file for pasteb

$PASTE_URL = 'http://somewhere.com';
$PASTE_SOURCE = 'https://github.com/ray-schulz/pasteb';
$PASTE_TEMPLATES = 'templates';

$PASTE_DB_NAME = 'dbname';
$PASTE_DB_HOST = 'dbhost';
$PASTE_DB_USER = 'dbuser';
$PASTE_DB_PASSWORD = 'dbpassword';

?>
